<script type="text/javascript" src = "../js/application.js"></script>
<link rel="stylesheet" type="text/css" href="../css/index.css">
<h1>Talk to your grandma!</h1>
<form id ="user_input" method="post">
  <input type="text" name="user_input">
  <input type = "submit">
</form>

<h1><%= @reply %></h1>


