<div id = "main">
<h1>Talk to your grandma!</h1>
<form id ="user_input" method="post" action = "/">
  <input type="text" name="user_input">
  <input type = "submit">
</form>

<h1 id = "grandma-says"></h1>

</div>
