<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Deaf Grandma</title>
  <link rel="stylesheet" type="text/css" href="../css/normalize.css">

  <script src="../js/jquery.js"></script>
  <script type="text/javascript" src = "../js/application.js"></script>
</head>
<body>
  <%= yield %>
</body>
</html>