<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Deaf Grandma</title>
  <link rel="stylesheet" type="text/css" href="../css/normalize.css">
  <link rel="stylesheet" type="javascript" href="../js/application.js">

  <script src="../js/jquery.js"></script>
</head>
<body>
  <%= yield %>
</body>
</html>